# Ignore combiled JavaScript files along with the jsconfig file
jsconfig.json
*.js

# Exclude the emitter.js file as it does not have a TypeScript file
!src/lib/emitter.js

# Ignore node_modules, database folders & image folders
documents/json/questions
documents/json/todo
node_modules
database
icons

# Ignore dotenv files
.env.local
.env
