# Ignore combiled JavaScript files along with the jsconfig file
jsconfig.json
*.js

# Ignore node_modules, database folders & image folders
documents/json/questions
documents/json/todo
node_modules
database
icons

# Ignore dotenv files
.env.local
.env
